@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@font-face {
	font-family: "HearthStone";
	src: url("./Hearth\ Stone.ttf");
  }
  @font-face {
    font-family: "FontleroyBrown";
    src: url("./FontleroyBrownNF.ttf");
    }
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background: #E5E5E5;
  padding: 50px;
  font-family: 'HearthStone';
}

@media only screen and (max-width: 768px) {
  body {
    padding: 50px 0px;
  }
  #card h1 {
    margin-top: -25% !important;
    font-size: 25px !important;
    line-height: 300% !important;
    margin-left: -15px !important;
  }
  #card-front button{
    right: 0 !important;
  }
  #card-inside {
    font-size: 15px !important;
  }
  #card, #card-front, #card-inside {
    height: 70vh !important;
  }
  /* .open-fully #card-front .wrap .anim {
    width: 104% !important;
    top: -2% !important;
    left: -2% !important;
  } */
  .open-fully #card-front .wrap {
    background-size: cover !important;
    background-position: center !important;
  }
  #card-front .wrap .out{
    width: 60% !important;
  }
  #card-inside .wrap .long{
    left: 60% !important;
  }
}



#card-front {
  color: #FFDFDF;
}

#card, #card-front, #card-inside {
  height: 80vh;
}

.wrap {
    padding: 1.5em 2.5em;
    height: 100%;
}
#card-front, #card-inside {
  width: 50%;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  position: absolute;
  left: 50%;
}


#card-inside .wrap {
    -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    /* background-image: url(./pink.png);
    background-size: inherit; */
}

#card {
    max-width: 960px;
    margin: 0 auto;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 5000px;
    -moz-perspective: 5000px;
    -webkit-perspective: 5000px;
    position: relative;
}

#card h1 {
    text-align: center;
    font-family: 'HearthStone';
    font-style: italic;
    font-size: 70px;
    text-shadow: 
        4px 4px 0px rgba(0, 0, 0, .15),
        1px 1px 0 rgba(255, 200, 200, 255),
        2px 2px 0 rgba(255, 150, 150, 255),
        3px 3px 0 rgba(255, 125, 125, 255);
    color: #FFF;
    margin-top: 85px;
    margin-left: 110px;
    line-height: 185%;
}
#card-inside {
    font-size: 30px;
    line-height: 1.4;
    font-family: 'FontleroyBrown';
    color: rosybrown;
    font-style: italic;
    background: #FFEFEF;
}

#card-inside .wrap{
  position: relative;
}

#card-inside .wrap .long{
  left: 35%;
  position: absolute;
  width: 12%;
  top: 6%;
}

p {
    margin-top: 1em;
}

p:first-child {
    margin-top: 0;
}

p.signed {
    margin-top: 1.5em;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
    position: absolute;
    right: 15px;
    bottom: -15px;
}

#card-front {
    background-color: black;
    background-image: linear-gradient(top, #FF5555 0%, #FF7777 100%);
    background-image: -moz-linear-gradient(top, #FF5555 0%, #FF7777 100%);
    background-image: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
            transform-origin: left;
       -moz-transform-origin: left;
    -webkit-transform-origin: left;
            transition:         transform 1s linear;
       -moz-transition:    -moz-transform 1s linear;
    -webkit-transition: -webkit-transform 1s linear;
    position: relative;
}

#card-front .wrap {
            transition: background 1s linear;
       -moz-transition: background 1s linear;
    -webkit-transition: background 1s linear;
    background-image: url(./pink.png);
    background-size: cover;
    -webkit-box-shadow: -1px 0px 5px 0px rgba(61,61,61,1);
-moz-box-shadow: -1px 0px 5px 0px rgba(61,61,61,1);
box-shadow: -1px 0px 5px 0px rgba(61,61,61,1);
}

#card-front .wrap .out{
  width: 40%;
  position: absolute;
  left: 0;
  bottom: 0%;
}

#card-inside .wrap .love{
  display:  none;
}

.open-fully #card-inside .wrap .love{
  display: block !important;
  width: 80%;
}

#card-front .wrap .anim{
  display:  none;
}

.open-fully #card-front .wrap{
  background-size: 165%;
  background-position: center;
}

.open-fully #card-front .wrap .anim{
  display: block !important;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 100%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  /* opacity: 1; */
}

#card-front button {
  position: absolute;
  bottom: 1em;
  right: -12px;
  background: pink;
  color: #FFF;
  font-family: 'Nobile', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  padding: .5em;
  border: none;
  cursor: pointer;
          box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
     -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
}

#card-front button:hover,
#card-front button:focus {
  background: lightpink;
}

#close {
  display: none;
}

#card.open-fully #close,
#card-open-half #close {
  display: inline;
}

#card.open-fully #open {
  display: none;
}


#card.open-half #card-front,
#card.close-half #card-front {
            transform: rotateY(-90deg);
       -moz-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
}
#card.open-half #card-front .wrap {
    background-color: rgba(0, 0, 0, .5);
}

#card.open-fully #card-front,
#card.close-half #card-front {
  background: #FFEFEF;
}

#card.open-fully #card-front {
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

#card.open-fully #card-front .wrap {
    background-color: rgba(0, 0, 0, 0);
}

#card.open-fully #card-front .wrap *,
#card.close-half #card-front .wrap * {
   display: none;
}

footer {
  max-width: 500px;
  margin: 40px auto;
  font-family: 'Nobile', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #888;
  text-align: center;
}

/*# hearts animation */

.bg_heart {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  overflow: hidden;
  background-image: url(./red.png);
  background-size: cover;
}

.heart {
	position: absolute;
	top: -50%;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-m-transform: rotate(-45deg);
	transform: rotate(-45deg);
	opacity: 0.6;
}

.heart:before {
	position: absolute;
	top: -50%;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: inherit;
	border-radius: 100%;
}

.heart:after {
	position: absolute;
	top: 0;
	right: -50%;
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: inherit;
	border-radius: 100%;
}

@-webkit-keyframes love {
	from {
		top: 0%
	}
	to {
		top: 150%
	}
}

@-moz-keyframes love {
	from {
		top: 0%
	}
	to {
		top: 150%
	}
}

@-ms-keyframes love {
	from {
		top: 0%
	}
	to {
		top: 150%
	}
}

@keyframes love {
	from {
		top: 0%
	}
	to {
		top: 150%
	}
}


#backgroundaudio { 
  display: block; 
  position: fixed; 
  bottom: -43px; 
  left: 5px; 
  -webkit-transition: all 1s ease-in-out; 
  -moz-transition: all 1s ease-in-out; 
  -ms-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out; 
  transition: all 1s ease-in-out; 
  } 
  #backgroundaudio:hover { 
  bottom: 0; 
  -webkit-transition: all 1s ease-in-out; 
  -moz-transition: all 1s ease-in-out; 
  -ms-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out; 
  transition: all 1s ease-in-out; 
  } 
  #backgroundaudio audio { 
  background: #ffffff; 
  padding: 5px; 
  display: table-cell; 
  vertical-align: middle; 
  height: 43px; 
  z-index: 9998; 
  } 
  #backgroundaudio i { 
  font-size: 40px; 
  display: block; 
  background: #ffffff; 
  padding: 5px; 
  width: 50px; 
  float: none; 
  margin-bottom: -1px; 
  z-index: 9999; 
  } 